.ClientListEdit-container {
    min-height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ClientListEdit-container section {
    width: 40%;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ClientListEdit-container div {
    column-gap: 20px;
}
.ClientListEdit-container div > button {
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
    padding: 10px 0px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    color: #fff;
    background-color: #00A2A2;
}
.ClientListEdit-container div > button:hover {
    background-color: #10c4c4;
}

@media (max-width: 990px) {
    .ClientListEdit-container section {
        width: 95%;
        margin: 30px 0;
    }
}